<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<script type="text/javascript" src="https://widget.enetscores.com/FW5D0B97B4141FCFAB"></script> 

<%= javascript_include_tag 'index' %>